.history/*
.env
test/smdmeter2ppmpconnector/__pycache__/*
.pytest_cache/*
test/smdmeter2ppmpconnector/debug.txt
smdmeter2ppmpconnector/__pycache__/*
growatt/__pycache__/*
mqttservice/__pycache__/*
sdm_modbus/__pycache__/*
kebakeycontactP30/__pycache__/*
.vscode/*
permit
permit.sha256

dist/**
build/**
smdmeter2ppmpconnector.egg-info/**
.eggs/**
__pycache__/**
smdmeter2ppmpconnector-env/**
logs/**
*.pyc
DaikinApi.devicedetails.json
DaikinApi.apinfo.json
tokenset.json
dockerversion.txt
